.no-data {
  grid-column: center-starts / center-ends;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .img404 {
    width: 50rem;
    border-radius: 5rem;
  }
}

@media only screen and (max-width: $bp-500) {
  .no-data {
    .img404 {
      width: 80vw;
    }
  }
}