.services {
  grid-column: center-start / center-end;
  padding: 7rem 0 10rem 0;

  display: grid;
  grid-template-columns: repeat(4, 23rem);
  justify-content: center;
  grid-gap: 7rem;

  &__title {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media only screen and (max-width: $bp-1200) {
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 21rem);
  }

  @media only screen and (max-width: $bp-1000) {
    grid-gap: 2.4rem;
    grid-template-columns: repeat(4, 16.8rem);
    padding: 7rem 0;
    &__title {
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: $bp-800) {
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 18rem);
  }

  @media only screen and (max-width: $bp-700) {
    grid-gap: 7rem;
    grid-template-columns: repeat(2, 21rem);
    padding: 5rem 0 7rem 0;
    &__title {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $bp-500) {
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 18rem);
    padding: 5rem 0;
  }

  @media only screen and (max-width: $bp-400) {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 17rem);    
  }
}