.carousel {
  grid-column: 1 / -1;

  padding: 6rem 0 10rem 0;
  background-color: #FEFEFE;

  display: grid;
  grid-template-columns: minmax(2rem, 1fr) 
    [start-center] repeat(8, minmax(min-content, 15rem)) 
    [end-center] minmax(2rem, 1fr);
  
  &__title {
    grid-column: 1 / -1;
    justify-self: center;    
  }

  &-constructions-container {
    grid-column: start-center / end-center;

    display: grid;
    grid-template-columns: repeat( auto-fit, 33rem);    
    justify-content: center;
    grid-gap: 10rem;
  }
}

@media only screen and (max-width: $bp-1300) {
  .carousel {
    padding-top: 4rem;    
  
    &-constructions-container {
      grid-column-gap: 5.5rem;
      grid-row-gap: 7rem;
    }
  }
}

@media only screen and (max-width: $bp-1200) {
  .carousel {  
    &-constructions-container {
      grid-template-columns: repeat( auto-fit, 28rem);
      grid-column-gap: 5rem;
    }
  }
}

@media only screen and (max-width: $bp-600) {
  .carousel {  
    &-constructions-container {
      grid-template-columns: repeat( auto-fit, 27rem);
      grid-column-gap: 2.4rem;
      grid-row-gap: 3rem;
    }
  }
}

@media only screen and (max-width: $bp-500) {
  .carousel {  
    &-constructions-container {
      grid-template-columns: repeat( auto-fit, 30rem);
      grid-row-gap: 12rem;
    }

    .u-title-2 {
      margin-bottom: 8rem;
    }
  }
}