.contact-us {
  grid-column: 1 / -1;
  padding: 11rem 0;
  background-color: $color-secondary-background;

  display: grid;
  grid-template-columns:
    [full-start] minmax(3rem, 1fr) 
    [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) 
    [center-end] minmax(3rem, 1fr) [full-end];

  &__img {
    grid-column: center-start / center-end;
    height: 50rem; 
        
    background-image: linear-gradient(80deg, 
      transparent 0%,
      transparent 45%,
      rgba(255,255,255, .80) 45%),
        url(./Assets/Images/home.jpeg);   
                  
    background-size: cover;    
    background-position: 50%;
    border-radius: 3px;
    box-shadow: 0 1rem 4rem #00000050;

    &--form {
      width: 50%;
      margin-left: auto;
      height: 100%;
      padding: 1rem 4rem 2rem 4rem;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 1rem;     
    }
  }
}

.form-title {
  grid-column: 1 / -1;
  color: $color-secondary-hover;
  font-size: 3rem;
  transform: translateX(-3rem);
  justify-self: center;
}

.form-group {
  grid-column: 1 / -1;
}

.input {
  padding: 1rem 1.5rem;
  border-radius: 3px;
  width: 90%;
  display: block;
  border: none;
  color: $color-primary-light-2;
  background-color: $color-primary-light-5;
  border-bottom: 2px solid transparent;
  
  resize: none;

  &:focus {
    outline: none;
    border-bottom: 2px solid $color-mediumgreen;
    box-shadow: 0 .5rem 4rem #77777777;
  }

  &:focus:invalid {      
    border-bottom: 2px solid orangered;
  }    
}

.background-blue {
  background-color: $color-secondary-hover-2;
}

.input:placeholder-shown + .label{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.label {
  font-size: 1.2rem;
  display: block;
  margin: .7rem 1rem 0 1rem;
  opacity: 1;
  transition: all .3s;
}

.btn-form {
  grid-column: 1 / -1;
  justify-self: center;
}

@media only screen and (max-width: $bp-1100) {
  .contact-us {
    padding: 8rem 0;
  }
}

@media only screen and (max-width: $bp-800) {
  .contact-us {
    &__img {
      height: 55rem;

      background-image: linear-gradient(80deg, 
        transparent 0%,
        transparent 35%,
        rgba(255,255,255, .80) 35%),
          url(./Assets/Images/home.jpeg);                       
  
      &--form {
        width: 65%;        
        padding: 1rem 2rem 2rem 4rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-600) {
  .contact-us {
    &__img {
      height: 55rem; 
          
      background-image: linear-gradient(
        rgba(255,255,255, .70) 0%,
        rgba(255,255,255, .70) 100%),
          url(./Assets/Images/home.jpeg);                       
  
      &--form {
        width: 100%;       
      }
    }
  }

  .input {
    width: 95%;
  }

  .form-title {
    font-size: 2.8rem;
    transform: translateX(0);
  }
}