.about-us {
  min-height: 70vh;
  grid-column: 1 / -1;

  &__container {
    display: grid;
    grid-template-columns: [container-starts] minmax(3rem, 1fr)
      [center-starts] repeat( 12, [col-starts] minmax(min-content, 10rem) [col-ends] ) [center-ends]
      minmax(3rem, 1fr) [container-ends];
  }

  &__title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
    background-image: linear-gradient(rgba(16,29,44,.3),rgba(16, 29, 44, 0.3)),
                    url(./Assets/Images/home1.jpg);

    background-size: cover;
    background-position: 50%;

    &--text {
      font-size: 5rem;
      font-weight: 400;
      color: $color-secondary-background;
    }
  }

  &__objectives {

    padding: 8rem 0;
    grid-column: center-starts / center-ends;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;

    &--img {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      max-height: 49rem;
      top: 50%;
      transform: translateY(-50%);
      position: relative;

      img {
        max-width: 55%;
        max-height: 55%;
        border-radius: 4px;    
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
        transition: all .3s;

        &:hover {
          transform: scale(1.15);
          z-index: 3;
        }
      }      

      &:hover img:not(:hover) {
        transform: scale(0.95);
      }

      &-1 {
        position: absolute;
        left: 0;
        top: 10%;
      }

      &-2 {
        position: absolute;
        left: 40%;
        top: 20%;
      }

      &-3 {
        position: absolute;
        left: 25%;
        top: 45%;
      }
    }

    &--team {
      grid-column: 3 / span 2;
      background-color: $color-primary-light-5;
      text-align: justify;
    }
  
    &--mision {
      grid-column: 3 / 4;    
      background-color: $color-primary-light-5;      
      text-align: center;
    }
  
    &--vision {
      grid-column: 4 / 5;
      background-color: $color-primary-light-5;      
      text-align: center;
    }
  }

  &__team-members {
    grid-column: 1 / -1;
    padding: 8rem 0;
    background-color: $color-secondary;
    display: grid;
    grid-template-columns: [container-starts] minmax(6rem, 1fr)
      [center-starts] repeat( 12, [col-starts] minmax(min-content, 8rem) [col-ends] ) [center-ends]
      minmax(6rem, 1fr) [container-ends];
    grid-row-gap: 5rem;    
  }
}


@media only screen and (max-width: $bp-1100) {
  .about-us{
    &__objectives {
      grid-gap: 1rem;

      &--img {
        max-height: 35rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-600) {
  .about-us{
    &__objectives {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;

      &--img {        
        grid-column: 1 / -1;
        grid-row: 3 /  4;
        top: 0;
        transform: translateX(0);
        max-height: 40rem;
        height: 40rem;

        &-1 {
          left: 5%;
        }
  
        &-2 {
          left: 40%;
        }
  
        &-3 {
          left: 25%;
        }
      }

      &--team {
        grid-column: 1 / -1;
      }
    
      &--mision {
        grid-column: 1 / 2;
      }
    
      &--vision {
        grid-column: 2 / 3;
      }
    }
  }
}

@media only screen and (max-width: $bp-500) {
  .about-us{
    &__objectives {
      padding: 5rem 0 0 0;
    }

    &__team-members {
      padding: 5rem 0;
      grid-template-columns: [container-starts] minmax(4rem, 1fr)
        [center-starts] repeat( 12, [col-starts] minmax(min-content, 8rem) [col-ends] ) [center-ends]
        minmax(4rem, 1fr) [container-ends];
      grid-row-gap: 3rem;    
    }
  }
}

@media only screen and (max-width: $bp-400) {
  .about-us{
    &__objectives {
      &--img {        
        height: 30rem;
      }
    }
  }
}