.construction {
  grid-column: 1 / -1;
  min-height: 73vh;
  margin-bottom: 5rem;

  display: grid;  
  grid-template-rows: min-content;
  grid-template-columns: [full-starts] 1fr [center-starts]
    repeat(10, [col-starts] minmax(min-content, 12rem) [col-ends] )
    [center-ends] 1fr [full-ends];


  &__content {
    grid-column: center-starts / center-ends;    
    display: grid;
    grid-template-columns: repeat( 20, [col-starts] 1fr [col-ends] );
    grid-gap: 5rem;
    background-color: $color-primary-light-5;

    &--border {      
      grid-column: col-starts 6 / col-ends 15;
      border-top: 1px solid $color-primary-light-3;
    }
   
    &--image {
      grid-column: col-starts 2 / col-ends 19;
      display: grid;
      justify-items: center;
      align-items: center;

      &-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: $color-black-trans;
        padding: 2rem 8rem;
        color: white;
        font-size: 5rem;
        text-transform: capitalize;
        z-index: 2;
      }

      img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        object-fit: cover;
        width: 100%;
        max-height: 40rem;        
        filter: brightness(90%) blur(.7px); 
      }
    }

    &--images {
      grid-column: col-starts 1 / col-ends 10;
      margin-left: 1rem;
      display: grid;
      grid-template-columns: repeat( 4, 1fr );    
      align-content: start;
      align-items: center;
      justify-items: center;
      grid-gap: 3px;

      &-main{        
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        img {
          object-fit: cover;
          height: 33rem;  
          width: 100%;  
        }   
      }

      &-img{
        object-fit: cover;
        height: 9rem;  
        width: 100%;     
        cursor: pointer;   
      }

      &-active {
        filter: brightness(50%);
      }
    }

    &--info {
      grid-column: col-starts 11 / col-ends 20;
      margin-right: 1rem;
      display: grid;
      align-content: start;
      grid-row-gap: 1rem;

      &-title {
        font-size: 3rem;
        text-transform: capitalize;
      }

      &-type {
        font-size: 2.5rem;
        p {
          font-size: 1.4rem;
          margin-bottom: -1rem;
        }
      }

      &-location {
        font-size: 2rem;
        text-transform: capitalize;
        p {
          font-size: 1.4rem;          
          margin-bottom: -1rem;
        }
      }

      &-description {
        font-weight: 400;
        font-size: 1.2rem;
        text-align: justify;

        p {
          font-size: 1.4rem;
        }
      }
    }

    &--constructions {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: repeat( 3, [col-starts] 27rem [col-ends] );
      grid-gap: 5rem;
      justify-content: center;

      h4 {
        grid-column: 1 / -1;
        text-align: center;
        font-size: 2.5rem;
        color: $color-secondary;
        text-transform: capitalize;
      }
    }

    &--button {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $bp-1000) {
  .construction {
    &__content {
      grid-column-gap: 3rem;

      &--constructions {
        grid-gap: 3rem;
      }
    }    
  }
}

@media only screen and (max-width: $bp-900) {
  .construction {
    &__content {
      grid-column-gap: 3rem;

      &--images {
        &-img{
          height: 8rem;   
        }
      }

      &--constructions {
        grid-gap: 1.6rem;
        grid-template-columns: repeat( 3, [col-starts] 25rem [col-ends] );     
      }
    }    
  }
}

@media only screen and (max-width: $bp-800) {
  .construction {
    &__content {

      &--images {
        &-main{        
          img {
            height: 28rem;  
          }   
        }
      }
    }    
  }
}

@media only screen and (max-width: $bp-700) {
  .construction {
    &__content {
      grid-gap: 3rem;

      &--image {
        img {
          max-height: 30rem;        
        }
      }

      &--info {        
        grid-row-gap: 2px;

        &-title {
          display: none;
        }
      }

      &--constructions {
        grid-template-columns: repeat( 3, [col-starts] 23rem [col-ends] );     
      }
    }    
  }
}

@media only screen and (max-width: $bp-600) {
  .construction {
    &__content {
      grid-column-gap: 2rem;    

      &--image {
        grid-column: col-starts 1 / col-ends 20;

        &-title {
          padding: 2rem 5rem;
          font-size: 3.5rem;
        }
      }

      &--images {
        grid-column: col-starts 2 / col-ends 19;
        &-main{        
          img {
            height: 33rem;  
          }   
        }
      }

      &--info {        
        grid-column: col-starts 2 / col-ends 19;
      }

      &--constructions {
        grid-template-columns: repeat( 2, [col-starts] 26rem [col-ends] );  
      }
    }    
  }
}

@media only screen and (max-width: $bp-500) {
  .construction {
    &__content {     
      &--images {
        &-main{        
          img {
            height: 29rem;  
          }   
        }
      } 

      &--constructions {
        grid-template-columns: repeat( 2, [col-starts] 23rem [col-ends] );         
      }
    }    
  }
}

@media only screen and (max-width: $bp-400) {
  .construction {
    &__content {    

      &--image {
        img {
          max-height: 27rem;        
        }
      }

      &--images {
        &-main{        
          img {
            height: 27rem;  
          }   
        }
      }

      &--info {        
        grid-column: col-starts 2 / col-ends 19;
      }

      &--constructions {
        grid-template-columns: 27rem;    
      }
    }    
  }
}