.constructions {
  grid-column: 1 / -1;
  min-height: 66vh;
  background-color: $color-primary-light-5;

  display: grid;
  grid-template-rows: min-content;
  grid-template-columns:
    [sidebar-starts] 21rem [sidebar-ends full-starts]
    minmax(2rem, 1fr) 
    [center-starts] repeat(8, [col-starts] minmax(min-content, 14rem) [col-ends]) 
    [center-ends] minmax(2rem, 1fr) [full-ends];

  &__container {
    margin: 3rem 0 8rem 0;
    grid-column: center-starts / center-ends;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat( auto-fit, 25rem);
    justify-content: center;

    &--loading {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;

      .loading-icon {
        width: 7rem;
        animation: loadingSpinner 1s infinite ease;
      }
    }

    &--title {
      grid-column: 1 / -1;
      font-size: 2.5rem;
      font-weight: 500;
      color: $color-secondary;
      text-transform: uppercase;
      text-align: center;
      background-color: $color-secondary-card-2;
      padding: 1rem 4rem;
      justify-self: center;
    }
  }
}

@media only screen and (max-width: $bp-1100) {
  .constructions {
    grid-template-columns:
      minmax(2rem, 1fr) 
      [center-starts] repeat(8, [col-starts] minmax(min-content, 14rem) [col-ends]) 
      [center-ends] minmax(2rem, 1fr) [full-ends];
  
    &__container {  
      &--title {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-600) {
  .constructions {
    grid-template-columns:
      minmax(1rem, 1fr) 
      [center-starts] repeat(8, [col-starts] minmax(min-content, 14rem) [col-ends]) 
      [center-ends] minmax(1rem, 1fr) [full-ends];
  
    &__container {  
      grid-gap: 2rem;

      &--loading {
        margin-top: 5rem;
      }
  
      &--none {
        margin-top: 5rem;
      }
    }
  }
}

@media only screen and (max-width: $bp-500) {
  .constructions {  
    &__container {  
      grid-row-gap: 2rem;
      grid-column-gap: 1rem;
      grid-template-columns: repeat( auto-fit, 23rem);
    }
  }
}

@media only screen and (max-width: $bp-400) {
  .constructions {  
    &__container {  
      grid-row-gap: 2rem;
      grid-template-columns: repeat( auto-fit, 27rem);

      &--title {
        font-size: 1.8rem;
      }
    }
  }
}