.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-height: 6vh;
  background-color: $color-secondary-light;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-column-gap: 5rem;

  padding: 1.5rem 8rem 1.5rem 5rem;
  text-transform: capitalize;  
  z-index: 5;

  transition: all .4s;

  &__settings {
    display: none;
  }
}

.transparent { 
  background-color: #FFFFFF00;
  padding: 3rem 8rem 3rem 5rem;
}

.company {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem;

  &__logo {    
    cursor: pointer;
    max-height: 3rem;
  }

  &__name {        
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: 500;
  }
}

.nav {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: $bp-900) {
  .header {
    grid-column-gap: 2.5rem;
    padding: 1.5rem 4rem;    
  }

  .transparent {
    padding: 2.5rem 3rem;
  }
}

@media only screen and (max-width: $bp-600) { 

  .header__settings{
    display: initial;
    font-size: 3rem;
    color: white;
    align-self: center;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .mobile-menu{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 4 / 5;      
    width: 3rem;

    &:hover {
      cursor: pointer;     
    }

    &-content {      
      transition: all .3s;
      height: 2px;
      background-color: $color-secondary-background;
  
      &::before {
        content: '';
        transform: translateY(-6px);
        display: block;
        height: 2px;
        background-color: $color-secondary-background;
      }
  
      &::after {
        content: '';
        transform: translateY(4px);
        display: block;
        height: 2px;
        background-color: $color-secondary-background;
      }
    }    
  }

  .transparent.active{      
    background-color: #FFFFFF22;
  }

  .active{
    grid-gap: 1.5rem;    

    .mobile-menu-content {       
      transition: all .3s;     
      transform: rotate(45deg);
  
      &::before {
        content: '';
        transform: rotate(90deg);
        display: block;
        height: 2px;
        background-color: $color-secondary-background;
      }
  
      &::after {
        display: none;
      }
    }

    .nav {
      grid-column: 1 / -1;
      display: initial;
      text-align: center;
    }    
  }
}