.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-height: 6vh;
  background-color: $color-secondary-light;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-column-gap: 5rem;

  padding: 1.8rem 8rem 1.8rem 5rem;
  text-transform: capitalize;  
  z-index: 5;

  transition: all .4s;
}

.transparent { 
  background-color: #FFFFFF11;
  padding: 3rem 8rem 3rem 5rem;
}

.company {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem;

  &__logo {
    max-height: 100%;
  }

  &__name {    
    color: white;
    font-size: 2rem;
  }
}

.nav {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: $bp-900) {
  .header {
    grid-column-gap: 2.5rem;
    padding: 1.8rem 4rem;    
  }

  .transparent {
    padding: 2.5rem 3rem;
  }
}

@media only screen and (max-width: $bp-600) {
  .company {  
    &__name {    
      display: none;
    }
  }
}