*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #404040;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: [full-start] repeat(10, [col-start] 1fr [col-end]) [full-end]; }

.service-card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  grid-row-gap: 2rem;
  transition: all .2s;
  padding: 2rem;
  box-shadow: 0 0 0.5rem 0.2rem rgba(100, 100, 100, 0.157); }
  .service-card__icon {
    font-size: 5rem; }
  .service-card__title {
    font-size: 2rem; }
  .service-card__description {
    font-size: 1.4rem;
    text-align: center; }
  .service-card:hover {
    box-shadow: 0 0 2rem 0.5rem rgba(100, 100, 100, 0.164);
    transform: scale(1.03) translateY(-2px);
    cursor: pointer; }

.btn {
  padding: 1.2rem 2.4rem;
  background-color: #101d2c;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: capitalize;
  transition: all .2s;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0 .5rem 2rem #77777777;
    transform: translateY(-2px); }
  .btn:active, .btn:focus {
    transform: translateY(-1px);
    outline: none; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-height: 6vh;
  background-color: #486f9c;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-column-gap: 5rem;
  padding: 2.2rem 10rem;
  text-transform: capitalize; }

.transparent {
  background-color: #FFFFFF11;
  padding: 3rem 10rem; }

.company {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem; }
  .company__logo {
    max-height: 100%; }
  .company__name {
    color: white;
    font-size: 2rem;
    margin-left: 3rem; }

.nav {
  text-decoration: none;
  color: white;
  font-size: 2rem; }

.content-layout {
  grid-column: 1 / -1;
  min-height: 94vh; }

.footer {
  grid-column: 1 / -1;
  min-height: 6vh;
  background-color: #101d2c; }

.home {
  grid-column: 1 / -1;
  min-height: 94vh;
  background-color: #FEFEFEDD;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] minmax(0, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(0, 1fr) [full-end]; }

.image-container {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  min-height: 85vh;
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.25)), url(./Assets/Images/home.jpeg);
  background-size: cover;
  background-position: 50%; }

.services {
  grid-column: center-start / center-end;
  margin: 13rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 8rem; }

.about-company {
  grid-column: 1 / -1; }

.carrusel {
  grid-column: 1 / -1; }

.constructions {
  grid-column: 1 / -1;
  min-height: 94vh;
  background-color: #FEFEFEDD;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.contact-us {
  grid-column: 1 / -1;
  padding: 13rem 0;
  background-color: #9bb8da;
  display: grid;
  grid-template-columns: [full-start] minmax(0, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(0, 1fr) [full-end]; }
  .contact-us__img {
    grid-column: center-start / center-end;
    height: 50rem;
    background-image: linear-gradient(80deg, transparent 0%, transparent 45%, rgba(255, 255, 255, 0.8) 45%), url(./Assets/Images/home.jpeg);
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
    box-shadow: 0 1rem 4rem #00000050; }
    .contact-us__img--form {
      width: 50%;
      margin-left: auto;
      height: 100%;
      padding: 4.5rem 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 3rem; }

.form-title {
  grid-column: 1 / -1;
  color: #192e46;
  font-size: 3rem;
  transform: translateX(-3rem);
  justify-self: center; }

.form-group {
  grid-column: 1 / -1; }

.input {
  padding: 1rem 1.5rem;
  border-radius: 3px;
  width: 90%;
  display: block;
  border: none;
  color: #808080;
  background-color: #FEFEFEDD;
  border-bottom: 2px solid transparent;
  resize: none; }
  .input:focus {
    outline: none;
    border-bottom: 2px solid #55c57a;
    box-shadow: 0 .5rem 4rem #77777777; }
  .input:focus:invalid {
    border-bottom: 2px solid orangered; }

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.label {
  font-size: 1.2rem;
  display: block;
  margin: .7rem 1rem 0 1rem;
  opacity: 1;
  transition: all .3s; }

.btn-form {
  grid-column: 1 / -1;
  justify-self: center; }
