*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #404040;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: [full-start] repeat(10, [col-start] 1fr [col-end]) [full-end]; }

@media only screen and (max-width: 50em) {
  html {
    font-size: 50%; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-5 {
  margin-bottom: 5rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-title-2 {
  text-transform: capitalize;
  font-size: 3.5rem;
  color: #101d2c; }

.u-text-16 {
  font-size: 1.6rem;
  color: #808080; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(-80%) rotate(200deg); }
  70% {
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0) rotate(0); } }

.btn {
  padding: 1.2rem 2.4rem;
  background-color: #101d2c;
  color: white;
  border: none;
  border-radius: 2px;
  text-transform: capitalize;
  transition: all .2s;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0 .5rem 2rem #77777777;
    transform: translateY(-2px); }
  .btn:active, .btn:focus {
    transform: translateY(-1px);
    outline: none; }

.midcontainer {
  position: absolute;
  width: 100%;
  top: 37%;
  text-align: center; }
  .midcontainer .text--image {
    color: rgba(255, 255, 255, 0.787);
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: capitalize;
    animation: moveInRight 1.5s ease;
    margin-bottom: 10rem; }
  .midcontainer .btn--image {
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    color: #808080;
    font-weight: 400;
    font-size: 2.1rem;
    padding: 1.5rem 3.5rem;
    border: none;
    border-radius: 30px;
    cursor: pointer; }
    .midcontainer .btn--image::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 30px;
      z-index: -1;
      transition: all .35s;
      background-color: rgba(255, 255, 255, 0.9); }
    .midcontainer .btn--image:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem #77777777; }
      .midcontainer .btn--image:hover::after {
        transform: scale(1.5);
        opacity: 0; }
    .midcontainer .btn--image:active {
      transform: translateY(-0.1rem); }
    .midcontainer .btn--image:focus {
      outline: none; }

@media only screen and (max-width: 56.25em) {
  .midcontainer {
    top: 35%; }
    .midcontainer .text--image {
      font-size: 4rem;
      margin-bottom: 9rem; }
    .midcontainer .btn--image {
      font-size: 2rem;
      padding: 1.6rem 3.5rem; } }

@media only screen and (max-width: 50em) {
  .midcontainer {
    top: 37%; }
    .midcontainer .text--image {
      font-size: 4.5rem;
      margin-bottom: 11rem; }
    .midcontainer .btn--image {
      font-size: 2.2rem;
      padding: 1.5rem 3.5rem; } }

.construction-card {
  width: 100%;
  background-color: #b9d6fa33;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem; }
  .construction-card__image {
    grid-column: 1 / -1;
    width: 100%;
    height: 24rem;
    object-fit: cover; }
  .construction-card__title {
    grid-column: 1 / -1;
    font-size: 1.8rem;
    background-color: #192e46;
    color: white;
    padding: 1rem 2rem;
    width: 80%;
    text-align: center;
    justify-self: center;
    text-transform: capitalize;
    margin-top: -5rem;
    margin-bottom: 1rem;
    font-weight: 400; }
  .construction-card__info {
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    margin-left: 2.5rem; }
    .construction-card__info p {
      font-size: 1.4rem;
      margin-left: 1rem; }
  .construction-card__icon {
    font-size: 2.2rem;
    color: #486f9c; }
  .construction-card__btn {
    grid-column: 1 / -1;
    padding: 1.8rem;
    background-color: #101d2c;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300; }

@media only screen and (max-width: 75em) {
  .construction-card {
    grid-gap: 2rem; }
    .construction-card__image {
      height: 20rem; }
    .construction-card__title {
      font-size: 1.6rem;
      padding: 1rem 1rem;
      margin-top: -4rem; }
    .construction-card__info {
      margin-left: 1.5rem; }
      .construction-card__info p {
        font-size: 1.3rem; }
    .construction-card__icon {
      font-size: 2rem; }
    .construction-card__btn {
      padding: 1.6rem; } }

@media only screen and (max-width: 31.25em) {
  .construction-card {
    transform: scale(1.2); } }

.service-card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  grid-row-gap: 2rem;
  transition: all .2s;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(150, 150, 150, 0.157); }
  .service-card__icon {
    font-size: 5rem; }
  .service-card__title {
    font-size: 2rem; }
  .service-card__description {
    font-size: 1.5rem;
    text-align: center; }
  .service-card:hover {
    box-shadow: 0 0.5rem 2rem 0 rgba(150, 150, 150, 0.164);
    transform: scale(1.04) translateY(-5px);
    cursor: pointer; }
  @media only screen and (max-width: 62.5em) {
    .service-card {
      padding: .8rem; }
      .service-card__icon {
        font-size: 4rem; }
      .service-card__title {
        font-size: 1.7rem; }
      .service-card__description {
        font-size: 1.3rem; } }
  @media only screen and (max-width: 43.75em) {
    .service-card {
      padding: 2rem; }
      .service-card__icon {
        font-size: 5rem; }
      .service-card__title {
        font-size: 2rem; }
      .service-card__description {
        font-size: 1.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .service-card {
      padding: .8rem; }
      .service-card__icon {
        font-size: 4rem; }
      .service-card__title {
        font-size: 1.7rem; }
      .service-card__description {
        font-size: 1.4rem; } }

.description-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.5rem;
  border-radius: 2px;
  box-shadow: 0 0 1rem 0.2rem rgba(150, 150, 150, 0.157); }
  .description-card__title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .description-card__content {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8; }

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  min-height: 6vh;
  background-color: #486f9c;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-column-gap: 5rem;
  padding: 1.5rem 8rem 1.5rem 5rem;
  text-transform: capitalize;
  z-index: 5;
  transition: all .4s; }

.transparent {
  background-color: #FFFFFF00;
  padding: 3rem 8rem 3rem 5rem; }

.company {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 4rem; }
  .company__logo {
    cursor: pointer;
    max-height: 3rem; }
  .company__name {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: 500; }

.nav {
  text-decoration: none;
  color: white;
  font-size: 2rem; }

.mobile-menu {
  display: none; }

@media only screen and (max-width: 56.25em) {
  .header {
    grid-column-gap: 2.5rem;
    padding: 1.8rem 4rem; }
  .transparent {
    padding: 2.5rem 3rem; } }

@media only screen and (max-width: 37.5em) {
  .nav {
    display: none; }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 4 / 5;
    width: 3rem; }
    .mobile-menu:hover {
      cursor: pointer; }
    .mobile-menu-content {
      transition: all .3s;
      height: 2px;
      background-color: #8fc1ffa6; }
      .mobile-menu-content::before {
        content: '';
        transform: translateY(-6px);
        display: block;
        height: 2px;
        background-color: #8fc1ffa6; }
      .mobile-menu-content::after {
        content: '';
        transform: translateY(4px);
        display: block;
        height: 2px;
        background-color: #8fc1ffa6; }
  .transparent.active {
    background-color: #FFFFFF22; }
  .active {
    grid-gap: 1.5rem; }
    .active .mobile-menu-content {
      transition: all .3s;
      transform: rotate(45deg); }
      .active .mobile-menu-content::before {
        content: '';
        transform: rotate(90deg);
        display: block;
        height: 2px;
        background-color: #8fc1ffa6; }
      .active .mobile-menu-content::after {
        display: none; }
    .active .nav {
      grid-column: 1 / -1;
      display: initial;
      text-align: center; } }

.content-layout {
  grid-column: 1 / -1;
  min-height: 94vh; }

.footer {
  grid-column: 1 / -1;
  background-color: #101d2c;
  padding: 3rem;
  display: grid;
  grid-template-columns: [footer-start] 1fr [center-start] repeat(5, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] 1fr [footer-end];
  grid-gap: 2rem; }
  .footer__container {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem; }
    .footer__container--contact {
      display: grid;
      grid-gap: 2rem; }
      .footer__container--contact-title {
        color: #486f9c;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase; }
      .footer__container--contact-item {
        display: flex;
        align-items: center; }
        .footer__container--contact-item .contact-icon {
          font-size: 2.5rem;
          color: #486f9c; }
        .footer__container--contact-item a, .footer__container--contact-item p {
          margin-left: 1rem;
          color: white;
          font-size: 1.3rem;
          text-decoration: none; }
      .footer__container--contact-link {
        color: white;
        padding: .5rem 2rem;
        background-color: #192e46;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.3rem;
        text-align: center;
        max-width: 17rem;
        transition: all .1s; }
        .footer__container--contact-link:hover {
          transform: scale(1.07) translateY(-3px); }
      .footer__container--contact-socialtext {
        color: white;
        font-size: 1.4rem; }
      .footer__container--contact-socialicons {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        grid-column-gap: 1.5rem; }
        .footer__container--contact-socialicons .social-icon {
          width: 2.5rem;
          transition: all .1s; }
          .footer__container--contact-socialicons .social-icon-twitter {
            width: 2.8rem; }
          .footer__container--contact-socialicons .social-icon:hover {
            transform: scale(1.3); }
  .footer__copyright {
    grid-column: center-start / center-end;
    justify-self: center;
    padding-top: 4rem; }
    .footer__copyright--text a {
      color: whitesmoke;
      font-size: 1.5rem;
      font-weight: 400;
      margin-left: 0; }

@media only screen and (max-width: 43.75em) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr); }
    .footer__container--contact-title {
      display: none; }
    .footer__container .footer-navigate {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-around;
      margin-bottom: 5rem; }
      .footer__container .footer-navigate .footer__container--contact-link {
        padding: .5rem 1rem; } }

@media only screen and (max-width: 25em) {
  .footer {
    padding: 3rem 1rem;
    text-align: center; }
    .footer__container {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem; }
      .footer__container .footer-navigate {
        margin-bottom: 0; }
      .footer__container--contact-title {
        display: none; }
      .footer__container--contact-link {
        font-size: 1.2rem; }
      .footer__container--contact {
        justify-items: center; } }

.home {
  grid-column: 1 / -1;
  min-height: 94vh;
  background-color: #FEFEFEDD;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.image-container {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  min-height: 95vh;
  background-image: linear-gradient(rgba(16, 29, 44, 0.6), rgba(16, 29, 44, 0.4)), url(./Assets/Images/home1.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative; }

.constructions {
  grid-column: 1 / -1;
  min-height: 57vh;
  background-color: #FEFEFEDD;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.about-us {
  min-height: 70vh;
  grid-column: 1 / -1; }
  .about-us__container {
    display: grid;
    grid-template-columns: [container-starts] minmax(3rem, 1fr) [center-starts] repeat(12, [col-starts] minmax(min-content, 10rem) [col-ends]) [center-ends] minmax(3rem, 1fr) [container-ends]; }
  .about-us__title {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 17rem;
    background-image: linear-gradient(rgba(16, 29, 44, 0.3), rgba(16, 29, 44, 0.3)), url(./Assets/Images/home1.jpg);
    background-size: cover;
    background-position: 50%; }
    .about-us__title--text {
      font-size: 5rem;
      font-weight: 400;
      color: #8fc1ffa6; }
  .about-us__objectives {
    padding: 8rem 0;
    grid-column: center-starts / center-ends;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem; }
    .about-us__objectives--img {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      display: grid;
      justify-items: center;
      align-items: center; }
      .about-us__objectives--img img {
        max-width: 100%;
        max-height: 100%; }
    .about-us__objectives--team {
      grid-column: 3 / span 2;
      background-color: #FEFEFEDD; }
    .about-us__objectives--mision {
      grid-column: 3 / 4;
      background-color: #FEFEFEDD; }
    .about-us__objectives--vision {
      grid-column: 4 / 5;
      background-color: #FEFEFEDD; }
  .about-us__team-members {
    grid-column: 1 / -1;
    padding: 8rem 0;
    background-color: #101d2c;
    display: grid;
    grid-template-columns: [container-starts] minmax(6rem, 1fr) [center-starts] repeat(12, [col-starts] minmax(min-content, 8rem) [col-ends]) [center-ends] minmax(6rem, 1fr) [container-ends];
    grid-row-gap: 5rem; }
    .about-us__team-members--card {
      grid-column: center-starts / center-ends;
      padding: 4rem;
      background-color: #FFFFFFCC;
      transform: skewX(12deg);
      display: flex; }
      .about-us__team-members--card-shape {
        height: 15rem;
        width: 15rem;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: skewX(-12deg);
        position: relative; }
        .about-us__team-members--card-shape img {
          height: 100%;
          transform: scale(1.3) translateX(-3rem);
          transition: all .3s; }
        .about-us__team-members--card-shape span {
          position: absolute;
          transition: all .3s;
          top: 90%;
          left: 50%;
          font-size: 1.8rem;
          color: white;
          transform: translateX(-50%);
          text-align: center;
          opacity: 0; }
      .about-us__team-members--card-text {
        transform: skewX(-12deg);
        margin-left: 3rem; }
        .about-us__team-members--card-text h2 {
          font-size: 2.5rem; }
        .about-us__team-members--card-text p {
          font-size: 1.4rem; }
      .about-us__team-members--card:hover img {
        transform: scale(1) translateX(-3rem);
        filter: blur(1px) brightness(80%); }
      .about-us__team-members--card:hover span {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1; }

.services {
  grid-column: center-start / center-end;
  padding: 7rem 0 10rem 0;
  display: grid;
  grid-template-columns: repeat(4, 23rem);
  justify-content: center;
  grid-gap: 7rem; }
  .services__title {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 3rem; }
  @media only screen and (max-width: 75em) {
    .services {
      grid-gap: 3rem;
      grid-template-columns: repeat(4, 21rem); } }
  @media only screen and (max-width: 62.5em) {
    .services {
      grid-gap: 2.4rem;
      grid-template-columns: repeat(4, 16.8rem);
      padding: 7rem 0; }
      .services__title {
        font-size: 3rem; } }
  @media only screen and (max-width: 50em) {
    .services {
      grid-gap: 3rem;
      grid-template-columns: repeat(4, 18rem); } }
  @media only screen and (max-width: 43.75em) {
    .services {
      grid-gap: 7rem;
      grid-template-columns: repeat(2, 21rem);
      padding: 5rem 0 7rem 0; }
      .services__title {
        margin-bottom: 0; } }
  @media only screen and (max-width: 31.25em) {
    .services {
      grid-gap: 3rem;
      grid-template-columns: repeat(2, 18rem);
      padding: 5rem 0; } }
  @media only screen and (max-width: 25em) {
    .services {
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 17rem); } }

.contact-us {
  grid-column: 1 / -1;
  padding: 11rem 0;
  background-color: #8fc1ffa6;
  display: grid;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; }
  .contact-us__img {
    grid-column: center-start / center-end;
    height: 50rem;
    background-image: linear-gradient(80deg, transparent 0%, transparent 45%, rgba(255, 255, 255, 0.8) 45%), url(./Assets/Images/home.jpeg);
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
    box-shadow: 0 1rem 4rem #00000050; }
    .contact-us__img--form {
      width: 50%;
      margin-left: auto;
      height: 100%;
      padding: 1rem 4rem 2rem 4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
      grid-row-gap: 1rem; }

.form-title {
  grid-column: 1 / -1;
  color: #192e46;
  font-size: 3rem;
  transform: translateX(-3rem);
  justify-self: center; }

.form-group {
  grid-column: 1 / -1; }

.input {
  padding: 1rem 1.5rem;
  border-radius: 3px;
  width: 90%;
  display: block;
  border: none;
  color: #808080;
  background-color: #FEFEFEDD;
  border-bottom: 2px solid transparent;
  resize: none; }
  .input:focus {
    outline: none;
    border-bottom: 2px solid #55c57a;
    box-shadow: 0 .5rem 4rem #77777777; }
  .input:focus:invalid {
    border-bottom: 2px solid orangered; }

.background-blue {
  background-color: #192e46ef; }

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.label {
  font-size: 1.2rem;
  display: block;
  margin: .7rem 1rem 0 1rem;
  opacity: 1;
  transition: all .3s; }

.btn-form {
  grid-column: 1 / -1;
  justify-self: center; }

@media only screen and (max-width: 68.75em) {
  .contact-us {
    padding: 8rem 0; } }

@media only screen and (max-width: 50em) {
  .contact-us__img {
    height: 55rem;
    background-image: linear-gradient(80deg, transparent 0%, transparent 35%, rgba(255, 255, 255, 0.8) 35%), url(./Assets/Images/home.jpeg); }
    .contact-us__img--form {
      width: 65%;
      padding: 1rem 2rem 2rem 4rem; } }

@media only screen and (max-width: 37.5em) {
  .contact-us__img {
    height: 55rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(./Assets/Images/home.jpeg); }
    .contact-us__img--form {
      width: 100%; }
  .input {
    width: 95%; }
  .form-title {
    font-size: 2.8rem;
    transform: translateX(0); } }

.carousel {
  grid-column: 1 / -1;
  padding: 6rem 0 10rem 0;
  background-color: #FEFEFE;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) [start-center] repeat(8, minmax(min-content, 15rem)) [end-center] minmax(2rem, 1fr); }
  .carousel__title {
    grid-column: 1 / -1;
    justify-self: center; }
  .carousel-constructions-container {
    grid-column: start-center / end-center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    justify-content: center;
    grid-gap: 10rem; }

@media only screen and (max-width: 81.25em) {
  .carousel {
    padding-top: 4rem; }
    .carousel-constructions-container {
      grid-column-gap: 5.5rem;
      grid-row-gap: 7rem; } }

@media only screen and (max-width: 75em) {
  .carousel-constructions-container {
    grid-template-columns: repeat(auto-fit, 28rem);
    grid-column-gap: 5rem; } }

@media only screen and (max-width: 37.5em) {
  .carousel-constructions-container {
    grid-template-columns: repeat(auto-fit, 27rem);
    grid-column-gap: 2.4rem;
    grid-row-gap: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .carousel-constructions-container {
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-row-gap: 12rem; }
  .carousel .u-title-2 {
    margin-bottom: 8rem; } }

.about-company {
  grid-column: 1 / -1;
  background-color: #8fc1ffa6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 50rem; }
  .about-company__pictures {
    background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(16, 29, 44, 0.8)), url(./Assets/Images/about.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center; }
    .about-company__pictures--big {
      grid-column: 2 / 8;
      grid-row: 2 / 7;
      width: 100%; }
    .about-company__pictures--small {
      grid-column: 6 / 9;
      grid-row: 4 / 8;
      width: 100%;
      margin-left: 7rem;
      margin-top: 5rem; }
  .about-company__info {
    text-align: center;
    padding: 8rem 8rem 8rem 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .about-company__info .u-text-16 {
      margin-bottom: 7rem; }
    .about-company__info--message {
      font-size: 2.5rem;
      color: #808080;
      font-style: italic; }
    .about-company__info--btn {
      justify-self: center; }

@media only screen and (max-width: 87.5em) {
  .about-company__pictures--small {
    grid-column: 5 / 9;
    margin-top: 2rem; }
  .about-company__info {
    padding: 5rem 5rem 6rem 7rem; }
    .about-company__info--message {
      font-size: 2.3rem; }
    .about-company__info .u-text-16 {
      margin-bottom: 5rem; }
    .about-company__info .u-title-2 {
      font-size: 3rem; } }

@media only screen and (max-width: 62.5em) {
  .about-company {
    min-height: 40rem; }
    .about-company__info {
      padding: 4rem 5rem 4rem 8rem; }
      .about-company__info--message {
        font-size: 2rem; }
      .about-company__info .u-text-16 {
        margin-bottom: 2rem; }
      .about-company__info .u-title-2 {
        font-size: 2.3rem; } }

@media only screen and (max-width: 50em) {
  .about-company__pictures--small {
    grid-row: 3 / 8;
    margin-left: 4rem; }
  .about-company__info {
    padding: 3rem 2rem 3rem 4rem; }
    .about-company__info--message {
      font-size: 1.8rem; }
    .about-company__info .u-text-16 {
      margin-bottom: 2rem;
      font-size: 1.4rem; }
    .about-company__info .u-title-2 {
      font-size: 2.2rem; } }

@media only screen and (max-width: 37.5em) {
  .about-company {
    grid-template-columns: 1fr; }
    .about-company__pictures--small {
      grid-row: 3 / 6;
      grid-column: 6 / 9;
      margin-left: 0; }
    .about-company__info {
      grid-row: 1 / 2;
      min-height: 30rem; } }
