*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #404040;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.header {
  grid-column: 1 / -1;
  min-height: 6vh;
  background-color: #486f9c;
  position: sticky;
  top: 0; }

.content-layout {
  grid-column: 1 / -1;
  min-height: 94vh; }

.footer {
  grid-column: 1 / -1;
  min-height: 6vh;
  background-color: #2b4058; }

.home {
  grid-column: 1 / -1;
  min-height: 200vh;
  background-color: #FEFEFE; }
